# Variables de entorno para EmailJS
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here

# WhatsApp configuración
VITE_WHATSAPP_NUMBER=51924471461

# Configuración de la aplicación
VITE_APP_NAME="Portfolio Freddy Muñoz"
VITE_APP_URL=https://freddymunoz.netlify.app
